.DynTable {
    position: relative;
    box-sizing: border-box;
    display: table;
    
    margin-left: 60px;
    margin-top: 60px;
    
    padding: 1px;
    border: 1px solid #48aae6;      
}

.DynTable__Sqr { 
    width: 50px;
    height: 50px;
    border: 1px solid white;
    box-sizing: border-box;    
}

.DynTable__Table {
    position: relative;
    padding: 0;
    border-spacing: 0px;
}

.DynTable__Cell{ 
    background-color: #48aae6;
}

.DynTable__Button {
    position: absolute;
    cursor: pointer;
    
    text-align: center;
    vertical-align: middle;
    
    font-size: 25px;
    color: white;
    font-weight: bold;
    transition: background-color 3s, visibility ease 0.5s, left 0.5s, top 0.5s;
}

.DynTable__AddButton {
    background-color: #f3a500;
}

.DynTable__AddButton:hover{
    background-color: #f6c052;    
}

.DynTable__AddColumn {
    
    left: 100%;
    margin-left: 2px;
    top: 1px;
    
}

.DynTable__AddLine {
    
    left: 1px;
    top: 100%;
    margin-top: 2px;
    
}

.DynTable__DelButton {
    background-color: #b20000;
     visibility: hidden; 
}

.DynTable__DelButton:hover{
    background-color: #ca4c49;
}

.DynTable__DelColumn {
    margin-left: 1px;
    bottom: 100%;    
    margin-bottom: 2px
}

.DynTable__DelLine {
    margin-top: 1px;    
    right: 100%;
    margin-right: 2px;
}
