.Ramka {
    position: relative;
    box-sizing: border-box;
    display: table;
    
    left: 50px;
    top: 50px;
    
    padding: 1px;
    border: 1px solid #48aae6;      
}

.Cell { 
    width: 50px;
    height: 50px;
    line-height: 48px;
    border: 1px solid white;
    box-sizing: border-box;    
}

.Button {
    position: absolute;
    display: table;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    transition: background-color 3s, visibility ease 0.5s, left 0.5s, top 0.5s;
}

.AddButton {
    background-color: #f3a500;
}

.AddButton:hover{
    background-color: #f6c052;    
}

.js-AddColumn {
    
    left: calc(100% + 2px);
    top: 1px;
    
}

.js-AddLine {
    
    left: 1px;
    top: calc(100% + 2px);
    
}

.DelButton {
    background-color: #b20000;
     visibility: hidden; 
}

.DelButton:hover{
    background-color: #ca4c49;
}

.js-DelColumn {
    left: 1px;
    top: -52px;    
}

.js-DelLine {
    left: -52px;
    top: 1px;    
}

.DynTable {
    position: relative;
    padding: 0;
    border-spacing: 0px;
}

.DynTable__Cell{ 
    background-color: #48aae6;
}
